/* Adjust tab corner shape, optionally remove space below tabs */
@media (-moz-proton) {
  .tab-background {
    border-radius: 0px !important;
    margin-block: 1px 0 !important;
  }
}

/* Inactive tabs: Separator line style */
@media (-moz-proton) {
  .tab-background:not([selected=true]):not([multiselected=true]):not([beforeselected-visible="true"]) {
    border-right: 1px solid rgba(0, 0, 0, .20) !important;
  }
  /* For dark backgrounds */
  [brighttext="true"] .tab-background:not([selected=true]):not([multiselected=true]):not([beforeselected-visible="true"]) {
    border-right: 1px solid var(--lwt-selected-tab-background-color, rgba(255, 255, 255, .20)) !important;
  }
  .tab-background:not([selected=true]):not([multiselected=true]) {
    border-radius: 0 !important;
  }
  /* Remove padding between tabs */
  .tabbrowser-tab {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (-moz-proton) {
  /* Close buttons */
  .tabbrowser-tab .tab-close-button {
    display:none !important;
  }

  /* MUTED text label super annoying, never show */
  .tab-icon-sound-muted-label {
    display:none !important;
  }
  /* Muted icon super annoying, never show */
  .tab-icon-overlay[muted],.tab-icon-sound[muted] {
    display: none !important;
  }
  /* Restore favicon */
  .tab-icon-stack[muted] .tab-icon-image {
    opacity: 1 !important;
  }
  /* Restore loading icon */
  .tab-icon-stack[muted] .tab-throbber[busy] {
    display: -moz-box !important;
    opacity: 1 !important;
  }
}

#pageActionButton {
  display:none !important;
}
#context-navigation, #context-sep-navigation, #context-sendpagetodevice, #context-sep-sendpagetodevice,
#context-sendlinktodevice, #context-sep-sendlinktodevice {
  display: none !important;
}
